.env
*.env
profiles.yml
*.pem
aws_credentials

/data/
*.csv
*.gz
*.parquet
/tmp/

__pycache__/
*.py[cod]
.venv/
venv/

dbt_proptech/target/
dbt_proptech/dbt_packages/
dbt_proptech/logs/

/airflow/
*.db
*.log
airflow.cfg

.DS_Store
.vscode/profiles.yml
dbt_proptech/.user.yml
dbt_proptech/logs/
dbt_proptech/target/
